
.cont{
    display: grid;
    grid-template-columns: repeat(4,minmax(300px,1fr));
    margin-top: 1rem;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
   background-color: whitesmoke; 
 
}

.blog-cardd{ 
    box-shadow: 0 18px 24px 0 rgba(0, 0, 0, 0.6);
    border-color: 10px solid black;
    height:fit-content;
   
}
.blog-cardd:hover{
    transform: scale(1.1);
    transition: all 0.2s linear;
}

.blog-image{
    height: 200px;
}

.ima{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.ima:hover{
    opacity: 0.7;
   
    transition: all 0.2s linear;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    padding: 5px;
}
.place-title{
    margin-left: 5px;
}
.place-name{
    margin-top: 3.5px;
    background-color:coral;
    display: inline-block;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px;
    margin-left: 2px;
    font-style: oblique;
}
.delete-style{
    cursor: pointer;
    color: white;
    background-color: black;
}
.place-desc{
  font-size: small;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px;
}

button:hover{
    opacity: 0.8;
}
.main-container{
    display: flex;
    flex-direction: column;
    
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 1rem;
    background-color: rgb(161, 174, 174);
}

.box-search{

    margin-top: 1rem;
    width: 50rem;
    height:2rem;
    border-radius: 0.4rem solid black;
}
.box-and-button{
    display: grid;
    grid-template-columns: auto 200px 200px;
    gap: 2rem;
}
.upload-date{
    font-weight: lighter;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

